body {
  font-family: monospace;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

header {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

header h1 {
  color: black;
  margin: 0;
  padding: 0.5em;
}

a {
  color: black;
  text-decoration: none;
}

.left {
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  vertical-align: top;
  width: 60%;
}

.right {
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-top: 1em;
  vertical-align: top;
  width: 40%;
}

.risers h2, .fallers h2 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

footer {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

footer p {
  color: black;
  margin: 0px;
  padding: 1em;
}
